<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="department-view">
      <div class="div">
        <div class="rectangle"></div>
        <div class="overlap">
          <div class="rectangle-2"></div>
          <div class="text-wrapper">Update</div>
        </div>
        <div class="text-wrapper-2">Semester Search:</div>
        <div class="rectangle-3"></div>
        <div class="text-wrapper-3">Search Major/Minor:</div>
        <div class="navbar">
          <img class="img" src="img/rectangle-36.png" />
          <div class="text-wrapper-4">X School of Y</div>
          <div class="text-wrapper-5">Spring 20xx</div>
          <div class="text-wrapper-6">x</div>
          <div class="text-wrapper-7">ABCD 1234</div>
          <div class="text-wrapper-8">[Course Title]</div>
          <div class="text-wrapper-9">x sections</div>
          <div class="text-wrapper-10">Prerequisite(s):</div>
          <div class="text-wrapper-4">X School of Y</div>
          <div class="text-wrapper-5">Spring 20xx</div>
          <div class="text-wrapper-6">x</div>
          <div class="text-wrapper-11">[Course Title]</div>
          <div class="text-wrapper-10">Prerequisite(s):</div>
          <div class="text-wrapper-4">X School of Y</div>
          <div class="text-wrapper-5">Spring 20xx</div>
          <div class="text-wrapper-6">x</div>
          <div class="text-wrapper-8">[Course Title]</div>
          <div class="text-wrapper-9">x sections</div>
          <div class="text-wrapper-10">Prerequisite(s):</div>
          <div class="text-wrapper-4">X School of Y</div>
          <div class="text-wrapper-5">Spring 20xx</div>
          <div class="text-wrapper-6">x</div>
          <div class="text-wrapper-11">[Course Title]</div>
          <div class="text-wrapper-10">Prerequisite(s):</div>
        </div>
        <div class="text-wrapper-12">Course Name:</div>
        <div class="text-wrapper-13">Number of Students:</div>
        <div class="overlap-group">
          <div class="text-wrapper-14">Next Page</div>
          <img class="arrow" src="img/arrow-6.svg" />
        </div>
        <div class="overlap-group-2">
          <img class="img" src="img/rectangle-41.png" />
          <div class="text-wrapper-4">X School of Y</div>
          <div class="text-wrapper-5">Spring 20xx</div>
          <div class="text-wrapper-6">x</div>
          <div class="text-wrapper-7">ABCD 1234</div>
          <div class="text-wrapper-8">[Course Title]</div>
          <div class="text-wrapper-9">x sections</div>
          <div class="text-wrapper-10">Prerequisite(s):</div>
          <div class="text-wrapper-4">X School of Y</div>
          <div class="text-wrapper-5">Spring 20xx</div>
          <div class="text-wrapper-6">x</div>
          <div class="text-wrapper-11">[Course Title]</div>
          <div class="text-wrapper-10">Prerequisite(s):</div>
          <div class="text-wrapper-4">X School of Y</div>
          <div class="text-wrapper-5">Spring 20xx</div>
          <div class="text-wrapper-6">x</div>
          <div class="text-wrapper-8">[Course Title]</div>
          <div class="text-wrapper-9">x sections</div>
          <div class="text-wrapper-10">Prerequisite(s):</div>
          <div class="text-wrapper-4">X School of Y</div>
          <div class="text-wrapper-5">Spring 20xx</div>
          <div class="text-wrapper-6">x</div>
          <div class="text-wrapper-11">[Course Title]</div>
          <div class="text-wrapper-10">Prerequisite(s):</div>
        </div>
        <div class="overlap-2">
          <img class="img" src="img/rectangle-39.png" />
          <div class="text-wrapper-4">X School of Y</div>
          <div class="text-wrapper-5">Spring 20xx</div>
          <div class="text-wrapper-6">x</div>
          <div class="text-wrapper-7">ABCD 1234</div>
          <div class="text-wrapper-8">[Course Title]</div>
          <div class="text-wrapper-9">x sections</div>
          <div class="text-wrapper-10">Prerequisite(s):</div>
          <div class="text-wrapper-4">X School of Y</div>
          <div class="text-wrapper-5">Spring 20xx</div>
          <div class="text-wrapper-6">x</div>
          <div class="text-wrapper-11">[Course Title]</div>
          <div class="text-wrapper-10">Prerequisite(s):</div>
          <div class="text-wrapper-4">X School of Y</div>
          <div class="text-wrapper-5">Spring 20xx</div>
          <div class="text-wrapper-6">x</div>
          <div class="text-wrapper-8">[Course Title]</div>
          <div class="text-wrapper-9">x sections</div>
          <div class="text-wrapper-10">Prerequisite(s):</div>
          <div class="text-wrapper-4">X School of Y</div>
          <div class="text-wrapper-5">Spring 20xx</div>
          <div class="text-wrapper-6">x</div>
          <div class="text-wrapper-11">[Course Title]</div>
          <div class="text-wrapper-10">Prerequisite(s):</div>
        </div>
        <div class="overlap-3">
          <img class="img" src="img/rectangle-40.png" />
          <div class="text-wrapper-4">X School of Y</div>
          <div class="text-wrapper-5">Spring 20xx</div>
          <div class="text-wrapper-6">x</div>
          <div class="text-wrapper-7">ABCD 1234</div>
          <div class="text-wrapper-8">[Course Title]</div>
          <div class="text-wrapper-9">x sections</div>
          <div class="text-wrapper-10">Prerequisite(s):</div>
          <div class="text-wrapper-4">X School of Y</div>
          <div class="text-wrapper-5">Spring 20xx</div>
          <div class="text-wrapper-6">x</div>
          <div class="text-wrapper-11">[Course Title]</div>
          <div class="text-wrapper-10">Prerequisite(s):</div>
          <div class="text-wrapper-4">X School of Y</div>
          <div class="text-wrapper-5">Spring 20xx</div>
          <div class="text-wrapper-6">x</div>
          <div class="text-wrapper-8">[Course Title]</div>
          <div class="text-wrapper-9">x sections</div>
          <div class="text-wrapper-10">Prerequisite(s):</div>
          <div class="text-wrapper-4">X School of Y</div>
          <div class="text-wrapper-5">Spring 20xx</div>
          <div class="text-wrapper-6">x</div>
          <div class="text-wrapper-11">[Course Title]</div>
          <div class="text-wrapper-10">Prerequisite(s):</div>
        </div>
        <div class="overlap-4">
          <img class="img" src="img/rectangle-37.png" />
          <div class="text-wrapper-4">X School of Y</div>
          <div class="text-wrapper-5">Spring 20xx</div>
          <div class="text-wrapper-6">x</div>
          <div class="text-wrapper-7">ABCD 1234</div>
          <div class="text-wrapper-8">[Course Title]</div>
          <div class="text-wrapper-9">x sections</div>
          <div class="text-wrapper-10">Prerequisite(s):</div>
          <div class="text-wrapper-4">X School of Y</div>
          <div class="text-wrapper-5">Spring 20xx</div>
          <div class="text-wrapper-6">x</div>
          <div class="text-wrapper-11">[Course Title]</div>
          <div class="text-wrapper-10">Prerequisite(s):</div>
          <div class="text-wrapper-4">X School of Y</div>
          <div class="text-wrapper-5">Spring 20xx</div>
          <div class="text-wrapper-6">x</div>
          <div class="text-wrapper-8">[Course Title]</div>
          <div class="text-wrapper-9">x sections</div>
          <div class="text-wrapper-10">Prerequisite(s):</div>
          <div class="text-wrapper-4">X School of Y</div>
          <div class="text-wrapper-5">Spring 20xx</div>
          <div class="text-wrapper-6">x</div>
          <div class="text-wrapper-11">[Course Title]</div>
          <div class="text-wrapper-10">Prerequisite(s):</div>
        </div>
        <div class="overlap-5">
          <img class="img" src="img/rectangle-38.png" />
          <div class="text-wrapper-15">X School of Y</div>
          <div class="text-wrapper-16">Spring 20xx</div>
          <div class="text-wrapper-17">x</div>
          <div class="text-wrapper-18">ABCD 1234</div>
          <div class="text-wrapper-19">[Course Title]</div>
          <div class="text-wrapper-20">x sections</div>
          <div class="text-wrapper-21">Prerequisite(s):</div>
          <div class="text-wrapper-15">X School of Y</div>
          <div class="text-wrapper-16">Spring 20xx</div>
          <div class="text-wrapper-17">x</div>
          <div class="text-wrapper-22">[Course Title]</div>
          <div class="text-wrapper-21">Prerequisite(s):</div>
          <div class="text-wrapper-15">X School of Y</div>
          <div class="text-wrapper-16">Spring 20xx</div>
          <div class="text-wrapper-17">x</div>
          <div class="text-wrapper-19">[Course Title]</div>
          <div class="text-wrapper-20">x sections</div>
          <div class="text-wrapper-21">Prerequisite(s):</div>
          <div class="text-wrapper-15">X School of Y</div>
          <div class="text-wrapper-16">Spring 20xx</div>
          <div class="text-wrapper-17">x</div>
          <div class="text-wrapper-22">[Course Title]</div>
          <div class="text-wrapper-21">Prerequisite(s):</div>
        </div>
      </div>
    </div>
  </body>
</html>